@import "tailwindcss";

:root {
  --font-quicksand: "Quicksand", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --medium-gray: #efefed;
  --clear-gray: #f5f5f5;
  --dark-blue: #0b467e;
  --purple: #989efa;
  --clear-blue: #9fd3ed;
  --medium-blue: #68a8e7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* background: var(--background); */
  color: var(--foreground);

  font-family: var(--font-quicksand);
}

.bg-medium-gray {
  background-color: var(--medium-gray);
}

.bg-clear-gray {
  background-color: var(--clear-gray);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-clear-blue {
  background-color: var(--clear-blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-medium-blue {
  background-color: var(--medium-blue);
}

.border-clear-blue {
  border-color: var(--clear-blue);
  border-style: solid;
  border-width: 2px;
}

.border-purple {
  border-color: var(--purple);
  border-style: solid;
  border-width: 2px;
}

.border-medium-blue {
  border-color: var(--medium-blue);
}

.title {
  font-family: "Reddit Sans", sans-serif;
}

.blue-text {
  color: var(--dark-blue);
}

a.blue-text:hover {
  color: black;
}

.placeholder-blue::placeholder {
  color: var(--dark-blue);
}

/* .border-frame {
  border-width: 34px;
  border-image-source: url("/texture.svg");
  border-image-slice: 30;
  border-image-repeat: stretch;
  border-style: solid;
  
} */
