@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gris-moyen: #efefed;
  --gris-clair: #f5f5f5;
  --dark-blue: #0b467e;
  --purple: #989efa;
  --clear-blue: #9fd3ed;
  --medium-blue: #68a8e7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "Quicksand", sans-serif;
  /* font-family: "Reddit Sans", sans-serif; */
}

.bg-gris-moyen {
  background-color: var(--gris-moyen);
}

.bg-gris-clair {
  background-color: var(--gris-clair);
}

.bg-clear-blue {
  background-color: var(--clear-blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-medium-blue {
  background-color: var(--medium-blue);
}

.border-clear-blue {
  border-color: var(--clear-blue);
}

.border-purple {
  border-color: var(--purple);
}

.border-medium-blue {
  border-color: var(--medium-blue);
}

.title {
  font-family: "Reddit Sans", sans-serif;
}

.blue-text {
  color: var(--dark-blue);
}

a.blue-text:hover {
  color: black;
}

/* .border-frame {
  border-width: 34px;
  border-image-source: url("/texture.svg");
  border-image-slice: 30;
  border-image-repeat: stretch;
  border-style: solid;
  
} */
